<c-row ngPreserveWhitespaces>
  <c-col xs="12">
      <c-card class="mb-4">
          <div class="d-grid">
              <button cButton color="success" variant="outline" (click)="toggleEditForm()" >Create new Menuitem</button>
          </div>
          </c-card>
  </c-col>
<c-col>
<c-card class="mb-4">
  <c-card-header>
    <strong>Menuitem Overview</strong> <small></small>
  </c-card-header>
  <c-card-body>

<table [responsive]="true" cAlign="middle" cTable hover striped>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of menuItems">
      <th scope="row">{{item.itemId}}</th>
      <td>{{item.title}}</td>
      <td>{{item.desc}}</td>
      <td>{{item.price}}</td>
      <td>{{item.status}}</td>
      <td>{{item.category}}</td>
      <td>{{item.allergens}}</td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="primary" variant="outline" (click)="editForm(item)" >Edit</button>
        <button cButton color="danger" variant="outline" (click)="deleteMenuItem(item)">Delete</button>
      </div>
      </td>
    </tr>
    </tbody>
  </table>
</c-card-body>
</c-card>
</c-col>


<c-modal id="ModalCategories" [visible]="visibleEditForm" (visibleChange)="handleFormChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Edit Category</h5>
    <button (click)="toggleEditForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form cForm id="categoryform">
      <div class="mb-3">
        <label cLabel for="inputtitle">Title</label>
        <input cFormControl id="inputtitle" type="text">
      </div>
      <div class="mb-3">
        <label cLabel for="inputdescription">Description</label>
        <textarea cFormControl id="inputdescription" rows="3"></textarea>
      </div>
      <div class="mb-3">
        <label cLabel for="inputprice">Price</label>
        <input cFormControl id="inputprice" type="number" step="0.01">
      </div>
      <div class="mb-3">
      <label cLabel for="selectcategory">Catagories</label>
      <select id="selectcategory" aria-label="Status" cSelect>
        <option *ngFor="let category of categories" value="{{category.categoryId}}">{{category.title}}</option>
      </select>
      </div>
      <div class="mb-3">
        <label cLabel for="selectcategory">Allergens</label>
        <div>
        <c-form-check [inline]="true" *ngFor="let allergen of allergens">
            <input cFormCheckInput id="{{allergen.allergenID}}" type="checkbox" />
            <label cFormCheckLabel for="{{allergen.allergenID}}">{{allergen.name}}</label>
        </c-form-check>
      </div>
      </div>

    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleEditForm()" cButton color="secondary">
      Close
    </button>
    <input cButton color="primary" type="submit" form="categoryform" value="Save changes">
  </c-modal-footer>
</c-modal>
