<c-row ngPreserveWhitespaces>
  <c-col xs="12">
      <c-card class="mb-4">
          <div class="d-grid">
              <button cButton color="success" variant="outline" (click)="AddNewForm()" >Create new Menuitem</button>
          </div>
          </c-card>
  </c-col>
<c-col>
<c-card class="mb-4">
  <c-card-header>
    <strong>Menuitem Overview</strong> <small></small>
  </c-card-header>
  <c-card-body>

<table [responsive]="true" cAlign="middle" cTable hover striped>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Status</th>
      <th scope="col">Category</th>
      <th scope="col">Allergens</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let item of menuItems">
      <th scope="row">{{item.itemId}}</th>
      <td>{{item.title}}</td>
      <td>{{item.desc}}</td>
      <td>{{item.price}}</td>
      <td>{{menuItemStatusList[item.status-1].name}}</td>
      <td><span *ngFor="let cid of item.category">{{menuCategories[cid-1].title}}, </span></td>
      <td><span *ngFor="let aid of item.allergens">{{allergens[aid-1].name}}, </span></td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="primary" variant="outline" (click)="editForm(item)" >Edit</button>
        <button cButton color="danger" variant="outline" (click)="deleteMenuItem(item)">Delete</button>
      </div>
      </td>
    </tr>
    </tbody>
  </table>
</c-card-body>
</c-card>
</c-col>


<c-modal id="ModalEditMenuItem" [visible]="visibleEditForm" (visibleChange)="handleFormChange($event)">
  <div *ngIf="selectedMenuItem">
  <c-modal-header>
    <h5 cModalTitle>Edit Category</h5>
    <button (click)="toggleEditForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <div class="mb-3">
        <label cLabel for="inputtitle">Title</label>
        <input cFormControl id="inputtitle" [(ngModel)]="selectedMenuItem.title" value="{{selectedMenuItem.title}}">
      </div>
      <div class="mb-3">
        <label cLabel for="inputdescription">Description</label>
        <textarea cFormControl id="inputdescription" [(ngModel)]="selectedMenuItem.desc" rows="3" value="{{selectedMenuItem.desc}}"></textarea>
      </div>
      <div class="mb-3">
        <label cLabel for="inputprice">Price</label>
        <input cFormControl id="inputprice" type="number" step="0.01" [(ngModel)]="selectedMenuItem.price" rows="3" value="{{selectedMenuItem.price}}">
      </div>
      <div class="mb-3">
      <label cLabel for="selectcategory">Catagories</label>
      <select id="selectcategory" aria-label="Status" cSelect>
        <option *ngFor="let menuCategory of menuCategories" value="{{menuCategory.categoryId}}">{{menuCategory.title}}</option>
      </select>
      </div>
      <div class="mb-3">
        <label cLabel>Allergens</label>
        <div>
        <c-form-check [inline]="true" *ngFor="let allergen of allergens">
            <input cFormCheckInput id="{{allergen.allergenID}}" type="checkbox" >
            <label cFormCheckLabel for="{{allergen.allergenID}}">{{allergen.name}}</label>
        </c-form-check>
      </div>
      </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleEditForm()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="updateMenuItem(selectedMenuItem)">Save changest</button>
  </c-modal-footer>
</div>
</c-modal>


<c-modal id="ModalAddNewMenuItem" [visible]="visibleAddNewForm" (visibleChange)="handleFormChange($event)">
  <div *ngIf="newMenuItem">
  <c-modal-header>
    <h5 cModalTitle>Edit Category</h5>
    <button (click)="toggleAddNewForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <div class="mb-3">
        <label cLabel for="inputtitle">Title</label>
        <input cFormControl id="inputtitle" [(ngModel)]="newMenuItem.title" value="{{newMenuItem.title}}">
      </div>
      <div class="mb-3">
        <label cLabel for="inputdescription">Description</label>
        <textarea cFormControl id="inputdescription" [(ngModel)]="newMenuItem.desc" rows="3" value="{{newMenuItem.desc}}"></textarea>
      </div>
      <div class="mb-3">
        <label cLabel for="inputprice">Price</label>
        <input cFormControl id="inputprice" type="number" step="0.01" [(ngModel)]="newMenuItem.price" rows="3" value="{{newMenuItem.price}}">
      </div>
      <div class="mb-3">
      <label cLabel for="selectcategory">Catagories</label>
      <select id="selectcategory" aria-label="Status" cSelect>
        <option *ngFor="let menuCategory of menuCategories" value="{{menuCategory.categoryId}}">{{menuCategory.title}}</option>
      </select>
      </div>
      <div class="mb-3">
        <label cLabel>Allergens</label>
        <div>
        <c-form-check [inline]="true" *ngFor="let allergen of allergens">
            <input cFormCheckInput id="{{allergen.allergenID}}" type="checkbox" >
            <label cFormCheckLabel for="{{allergen.allergenID}}">{{allergen.name}}</label>
        </c-form-check>
      </div>
      </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleAddNewForm()" cButton color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="addMenuItem(newMenuItem)">Save changest</button>
  </c-modal-footer>
</div>
</c-modal>
