<table cTable hover striped>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <th scope="row">{{category.categoryId}}</th>
      <td>{{category.title}}</td>
      <td>{{category.desc}}</td>
      <td>
        <button cButton color="primary" (click)="toggleForm()" >Edit</button>
        <button cButton color="danger" (click)="delteCategory()">Delete</button>
      </td>
    </tr>
    </tbody>
  </table>


<c-modal id="ModalCategories" [visible]="visible" (visibleChange)="handleFormChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Edit Category</h5>
    <button (click)="toggleForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form cForm id="categoryform">
      <div class="mb-3">
        <label cLabel for="inputtitle">Title</label>
        <input cFormControl id="inputtitle" type="text">
      </div>
      <div class="mb-3">
        <label cLabel for="inputdescription">Description</label>
        <textarea cFormControl id="inputdescription" rows="3"></textarea>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleForm()" cButton color="secondary">
      Close
    </button>
    <input cButton color="primary" type="submit" form="categoryform" value="Save changes">
  </c-modal-footer>
</c-modal>

