<c-row ngPreserveWhitespaces>
  <c-col xs="12">
      <c-card class="mb-4">
          <div class="d-grid">
              <button cButton color="success" variant="outline" (click)="toggleForm()" >Create new Category</button>
          </div>
          </c-card>
  </c-col>
<c-col>
<c-card class="mb-4">
  <c-card-header>
    <strong>Kategorieübersicht</strong> <small></small>
  </c-card-header>
  <c-card-body>


<table cTable hover striped>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let category of categories">
      <th scope="row">{{category.categoryId}}</th>
      <td>{{category.title}}</td>
      <td>{{category.desc}}</td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="primary" variant="outline" (click)="editCategory(category)" >Edit</button>
        <button cButton color="danger" variant="outline" (click)="delteCategory(category)">Delete</button>
      </div>
      </td>
    </tr>
    </tbody>
  </table>
</c-card-body>
</c-card>
</c-col>


<c-modal id="ModalCategories" [visible]="visible" (visibleChange)="handleFormChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Edit Category</h5>
    <button (click)="toggleForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <div *ngIf="selectedCategory">
      <div class="mb-3">
        <label cLabel for="inputtitle">Title</label>
        <input cFormControl id="inputtitle" [(ngModel)]="selectedCategory.title" value="{{selectedCategory.title}}">
      </div>
      <div class="mb-3">
        <label cLabel for="inputdescription">Description</label>
        <textarea cFormControl id="inputdescription" [(ngModel)]="selectedCategory.desc" rows="3" value="{{selectedCategory.desc}}" ></textarea>
      </div>
    </div>
  </c-modal-body>
  <c-modal-footer>
    <button cButton (click)="toggleForm()" color="secondary">
      Close
    </button>
    <button cButton color="primary" (click)="toggleForm()">Save changes</button>
  </c-modal-footer>
</c-modal>


