<c-row ngPreserveWhitespaces>
    <c-col xs="12">
        <c-card class="mb-4">
            <div class="d-grid">
                <button cButton color="success" variant="outline" (click)="AddNewForm()" >Create new Table</button>
            </div>
            </c-card>
    </c-col>
<c-col>
<c-card class="mb-4">
    <c-card-header>
      <strong>Tischübersicht</strong> <small></small>
    </c-card-header>
<c-card-body>

<table [responsive]="true" cAlign="middle" cTable >
    <thead cTableColor="dark">
    <tr>
      <th scope="col">#</th>
      <th scope="col">Anzahl Plätze</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let table of tables">
      <th scope="row">{{table.tableID}}</th>
      <td>{{table.anzahlPlatz}}</td>
      <td>{{table.beschreibung}}</td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="info" variant="outline" (click)="createQRCode(table.tableID)">QR-Code</button>
        <button cButton color="primary" variant="outline" (click)="editForm(table)" >Edit</button>
        <button cButton color="danger" variant="outline" (click)="deleteTable(table)">Delete</button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</c-card-body>
</c-card>
</c-col>


<c-modal id="ModalCategories" [visible]="visibleEditForm" (visibleChange)="handleFormChange($event)">
  <div *ngIf="selectedTable">
  <c-modal-header>
    <h5 cModalTitle>Edit Table</h5>
    <button (click)="toggleEditForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <div class="mb-3">
        <label cLabel for="inputplaetze">Anzahl Plätze</label>
        <input cFormControl id="inputplaetze" type="number" [(ngModel)]="selectedTable.anzahlPlatz" value="{{selectedTable.anzahlPlatz}}">
      </div>
      <div class="mb-3">
        <label cLabel for="inputdescription">Description</label>
        <textarea cFormControl id="inputdescription" rows="3" [(ngModel)]="selectedTable.beschreibung" value="{{selectedTable.beschreibung}}"></textarea>
      </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleEditForm()" cButton color="secondary">Close</button>
    <button cButton color="primary" (click)="updateTable(selectedTable)">Save changes</button>
  </c-modal-footer>
</div>
</c-modal>

<c-modal id="ModalCategories" [visible]="visibleAddNewForm" (visibleChange)="handleFormChange($event)">
  <div *ngIf="newTable">
  <c-modal-header>
    <h5 cModalTitle>Add Table</h5>
    <button (click)="toggleAddNewForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <div class="mb-3">
        <label cLabel for="inputplaetze">Anzahl Plätze</label>
        <input cFormControl id="inputplaetze" type="number" [(ngModel)]="newTable.anzahlPlatz" value="{{newTable.anzahlPlatz}}">
      </div>
      <div class="mb-3">
        <label cLabel for="inputdescription">Description</label>
        <textarea cFormControl id="inputdescription" rows="3" [(ngModel)]="newTable.beschreibung" value="{{newTable.beschreibung}}"></textarea>
      </div>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleAddNewForm()" cButton color="secondary">Close</button>
    <button cButton color="primary" (click)="addTable(newTable)">Save changes</button>
  </c-modal-footer>
</div>
</c-modal>

<c-modal id="ModalQrCode" [visible]="visibleQrCode" (visibleChange)="handleFormChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Table QRCode</h5>
    <button (click)="toggleQRCode()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <qrcode [qrdata]="qrCodeURL" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleQRCode()" cButton color="secondary">Close</button>
  </c-modal-footer>
</c-modal>

</c-row>

