<table cTable hover striped>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Mark</td>
      <td>Otto</td>
      <td><button cButton color="primary"  cOffcanvasToggle="OffcanvasEnd" >Edit</button>  <button cButton color="danger">Delete</button></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Jacob</td>
      <td>Thornton</td>
      <td>@fat</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td colSpan="2">Larry the Bird</td>
      <td>@twitter</td>
    </tr>
    </tbody>
  </table>

  <c-offcanvas placement="end" id="OffcanvasEnd">
  <c-offcanvas-header>
    <h5 cOffcanvasTitle>Edit Category</h5>
    <button
      cButtonClose
      class="text-reset"
      cOffcanvasToggle="OffcanvasEnd"
      aria-label="Close"
    ></button>
  </c-offcanvas-header>
  <c-offcanvas-body>
    <form cForm>
      <div class="mb-3">
        <label cLabel for="inputtitle">Title</label>
        <input cFormControl id="inputtitle" type="text">
      </div>
      <div class="mb-3">
        <label cLabel for="inputdescription">Password</label>
        <input cFormControl id="inputdescription" type="text">
      </div>
      <input cButton color="primary" type="submit">
    </form>
  </c-offcanvas-body>
</c-offcanvas>


