<c-row ngPreserveWhitespaces>
  <c-col xs="12">
      <c-card class="mb-4">
          <div class="d-grid">
              <button cButton color="success" variant="outline" (click)="toggleEditForm()" >Create new User</button>
          </div>
          </c-card>
  </c-col>
<c-col>
<c-card class="mb-4">
  <c-card-header>
    <strong>Userübersicht</strong> <small></small>
  </c-card-header>
  <c-card-body>

<table cTable hover striped>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Roles</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.userID}}</th>
      <td>{{user.name}}</td>
      <td>{{user.roles}}</td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="primary" variant="outline" (click)="editForm(user)" >Edit</button>  
        <button cButton color="danger" variant="outline" (click)="deleteUser(user)">Delete</button>
      </div>
    </td>
    </tr>
    </tbody>
  </table>
</c-card-body>
</c-card>
</c-col>


<c-modal id="userform" [visible]="visibleEditForm" (visibleChange)="handleFormChange($event)">
  <c-modal-header>
    <h5 cModalTitle>Modal title</h5>
    <button (click)="toggleEditForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
    <form cForm id="userform">
      <div class="mb-3">
        <label cLabel for="inputname">Name</label>
        <input cFormControl id="inputname" type="text">
      </div>
      <div class="mb-3" *ngFor="let userRole of userRoles">
        <c-form-check [switch]="true">
            <input cFormCheckInput type="checkbox" />
            <label cFormCheckLabel>{{userRole.name}}</label>
        </c-form-check>
      </div>
    </form>
  </c-modal-body>
  <c-modal-footer>
    <button (click)="toggleEditForm()" cButton color="secondary">
      Close
    </button>
    <input cButton color="primary" type="submit" form="userform" value="Save changes">
  </c-modal-footer>
</c-modal>
