<c-row ngPreserveWhitespaces>
  <c-col xs="12">
      <c-card class="mb-4">
          <div class="d-grid">
              <button cButton color="success" variant="outline" (click)="AddNewForm()" >Create new User</button>
          </div>
          </c-card>
  </c-col>
<c-col>
<c-card class="mb-4">
  <c-card-header>
    <strong>Userübersicht</strong> <small></small>
  </c-card-header>
  <c-card-body>

<table cTable hover striped>
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Name</th>
      <th scope="col">Roles</th>
      <th scope="col"></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let user of users">
      <th scope="row">{{user.userID}}</th>
      <td>{{user.name}}</td>
      <td><span *ngFor="let rid of user.roles">{{userRoles[rid-1].name}}</span></td>
      <td>
        <div class="d-grid gap-2 d-md-flex justify-content-md-end">
        <button cButton color="primary" variant="outline" (click)="editForm(user)" >Edit</button>  
        <button cButton color="danger" variant="outline" (click)="deleteUser(user)">Delete</button>
      </div>
    </td>
    </tr>
    </tbody>
  </table>
</c-card-body>
</c-card>
</c-col>


<c-modal id="editUser" [visible]="visibleEditForm" (visibleChange)="handleFormChange($event)">
  <c-form *ngIf="selectedUser" [formGroup]="editUserForm"  (ngSubmit)="updateUser(selectedUser)">
  <c-modal-header>
    <h5 cModalTitle>Edit user</h5>
    <button (click)="toggleEditForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <div class="mb-3">
        <label cLabel for="inputname">Name</label>
        <input cFormControl id="inputname" type="text" value="{{selectedUser.name}}">
      </div>
      <div class="mb-3" *ngFor="let userRole of userRoles">
        <c-form-check [switch]="true">
            <input cFormCheckInput type="checkbox" />
            <label cFormCheckLabel>{{userRole.name}}</label>
        </c-form-check>
      </div>
  </c-modal-body>
  <c-modal-footer>
    <button cButton (click)="toggleEditForm()" color="secondary">Close</button>
    <button cButton color="primary" type="submit">Save changes</button>
  </c-modal-footer>
</c-form>
</c-modal>


<c-modal id="newUser" [visible]="visibleAddNewForm" (visibleChange)="handleFormChange($event)">
  <div *ngIf="newUser">
  <c-modal-header>
    <h5 cModalTitle>Add new user</h5>
    <button (click)="toggleAddNewForm()" cButtonClose></button>
  </c-modal-header>
  <c-modal-body>
      <div class="mb-3">
        <label cLabel for="inputname">Name</label>
        <input cFormControl id="inputname" type="text" [(ngModel)]="newUser.name" value="{{newUser.name}}">
      </div>
      <div class="mb-3" *ngFor="let userRole of userRoles">
        <c-form-check [switch]="true">
            <input cFormCheckInput type="checkbox" />
            <label cFormCheckLabel>{{userRole.name}}</label>
        </c-form-check>
      </div>
  </c-modal-body>
  <c-modal-footer>
    <button cButton (click)="toggleAddNewForm()" color="secondary">Close</button>
    <button cButton color="primary" (click)="addUser(newUser)">Save changes</button>
  </c-modal-footer>
</div>
</c-modal>
